body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#top {
  text-align: center;
  size: large;
  text-decoration-style: solid;
}

#count {
  margin: 10px;
}

#gather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
